body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

footer, header {
    color: #8D99AE;
    background-color: #2B2D42;
}

footer, header, .education {
    padding: 30px;
}

header h1, header h2 {
    color: #EDF2F4;
}

a {
    color: #EF233C;
}

.education {
    background-color: #8D99AE;
}

header {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}