/* Theme handeling is done to minimize the use of javascript but it
    also means there is duplication everywhere :-/
 */


:root {
    --primary-background-color: #232020;
    --primary-color: #f0eaea;
    --primary-border-color: #191212;
    --secondary-background-color: #484646;
    --secondary-color: #eae4e4;
    --secondary-border-color: #393838;
    --secondary-subtle-color: #b6b3b3;
    --link-color: #88aaff;
    --link-color-visited: #bc9bff;
    --link-color-hover: #99aaff;
    --link-color-visited-hover: #cd9bff;
    --link-color-active: #ffaaaa;
    --link-color-active-hover: #ffaaaa;
    --link-color-focus: #ffddaa;
    --background-gradient-start: #2A2626;
    --background-gradient-stop: #232020;

    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

body.dark-mode {
    --primary-background-color: #232020;
    --primary-color: #f0eaea;
    --primary-border-color: #191212;
    --secondary-background-color: #484646;
    --secondary-color: #eae4e4;
    --secondary-border-color: #393838;
    --secondary-subtle-color: #b6b3b3;
    --link-color: #88aaff;
    --link-color-visited: #bc9bff;
    --link-color-hover: #99aaff;
    --link-color-visited-hover: #cd9bff;
    --link-color-active: #ffaaaa;
    --link-color-active-hover: #ffaaaa;
    --link-color-focus: #ffddaa;
    --background-gradient-start: #2A2626;
    --background-gradient-stop: #232020;
}

body.light-mode {
    --primary-background-color: #cdcdcd;
    --primary-color: #262626;
    --primary-border-color: #6d6d6d;
    --secondary-background-color: #ebebeb;
    --secondary-color: #1f1f1f;
    --secondary-border-color: #939393;
    --secondary-subtle-color: #b6b3b3;
    --link-color: #0048ff;
    --link-color-visited: #6600ff;
    --link-color-hover: #002aff;
    --link-color-visited-hover: #8c00ff;
    --link-color-active: #db0000;
    --link-color-active-hover: #db0000;
    --link-color-focus: #db8400;
    --background-gradient-start: #e2e2e2;
    --background-gradient-stop: #bdbdbd;
}

html {
  scroll-behavior: smooth;
}

body {
    color: var(--primary-color);
    background-color: var(--background-gradient-start);
    /* #TODO figure out how to use a gradient and have a transition
    background: var(--primary-background-color) linear-gradient(180deg,
        var(--background-gradient-start) 0%,
        var(--background-gradient-stop) 100%);

     */
    margin: 0;
    min-width: 480px;

    --duration: 0.5s;
    --timing: ease;
    transition:
            color var(--duration) var(--timing),
            background-color var(--duration) var(--timing);
}

a {
    color: var(--link-color);

    transition:
            color var(--duration) var(--timing);
}

a:visited {
    color: var(--link-color-visited);

    transition:
            color var(--duration) var(--timing);
}

a:hover {
    text-decoration-style: double;
    color: var(--link-color-hover);

    transition: none;
}

a:visited:hover {
    color: var(--link-color-visited-hover);
}

a:active {
    color: var(--link-color-active);
}

a:hover:active{
    color: var(--link-color-active-hover);
}

a:focus-visible {
    color: var(--link-color-focus);

    transition: none;
}

figcaption {
    font-style: italic;
}

ul {
    list-style: square;
}

header {
    background-color: var(--primary-background-color);
    padding: 8px 16px 12px 16px;
    text-align: center;
    /*max-height: 4em;*/
    overflow-y: auto;

    transition:
            background-color var(--duration) var(--timing);
}

header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header nav {
    font-size: 1.2em;
}

main {
    transform: translateY(-2em);
    margin: 1em 1em -1em;
    padding: 1em;
    border: 3px solid var(--secondary-border-color);
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);

    transition:
            color var(--duration) var(--timing),
            border-color var(--duration) var(--timing),
            background-color var(--duration) var(--timing);
}

footer {
    bottom: 0;
    background-color: var(--primary-background-color);
    padding: 8px 16px 16px 16px;
    border-top: 4px solid var(--primary-border-color);
    text-align: center;

    transition:
            border-color var(--duration) var(--timing),
            background-color var(--duration) var(--timing);
}

input[type="checkbox"] {
    width: 1.4em;
    height: 1.4em;
    vertical-align: text-bottom;
    accent-color: var(--secondary-subtle-color);

    transition:
            accent-color var(--duration) var(--timing);
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-background-color);
    padding: 8px 16px 12px 16px;
    border-bottom: 4px solid var(--primary-border-color);
    text-align: center;
    height: 30px;
    overflow-y: hidden;
    line-height: 200%;

    transition:
            border-color var(--duration) var(--timing),
            background-color var(--duration) var(--timing);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unmarked-link {
    text-decoration: none;
}

.img-size-90-percent {
    width: 90%;
}

.section-spacer {
    height: 4em;
}

.section-link {
    padding-top: 54px;
    margin-top: -54px;
}

.centered-line {
    border: 1px solid var(--secondary-subtle-color);
    margin-top: 2em;
    margin-bottom: 3em;

    transition:
            border-color var(--duration) var(--timing);
}

.bubble-object-container {
    width: 90%;
    margin: 0 auto;
    min-height: 10vh;
    height: 50vh;
    max-height: 75vh;
    border: 3px solid var(--secondary-subtle-color);
    background-color: var(--background-gradient-start);

    transition:
            border-color var(--duration) var(--timing),
            background-color var(--duration) var(--timing);
}

.bubble-object {
    width: 100%;
    height: 100%;
}

#header-spacer {
    margin-top: 60px;
}

#img-cat {
    object-fit: contain;
    max-height: 50vh;
}

@media (prefers-color-scheme: light) {
    body:not(.dark-mode):not(.light-mode) {
        --primary-background-color: #cdcdcd;
        --primary-color: #262626;
        --primary-border-color: #6d6d6d;
        --secondary-background-color: #ebebeb;
        --secondary-color: #1f1f1f;
        --secondary-border-color: #939393;
        --secondary-subtle-color: #b6b3b3;
        --link-color: #0048ff;
        --link-color-visited: #6600ff;
        --link-color-hover: #002aff;
        --link-color-visited-hover: #8c00ff;
        --link-color-active: #db0000;
        --link-color-active-hover: #db0000;
        --link-color-focus: #db8400;
        --background-gradient-start: #e2e2e2;
        --background-gradient-stop: #bdbdbd;
    }
}



